<%content_for :title do%>
Fun
<%end%>
<h1>Page#fun</h1>
<p>Find me in app/views/page/fun.html.erb</p>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Carousel using CSS3 Transitions - jCarousel Examples</title>

  <link rel=stylesheet type="text/css" href="/assets/jcarousel.basic.css">
  <link rel=stylesheet type="text/css" href="/assets/print.css">
  <link rel=stylesheet type="text/css" href="/assets/styles.css">
  <script type="text/javascript" src="/assets/modernizr.js"></script>
  <script type="text/javascript" src="/assets/jquery.js"></script>
  <script type="text/javascript" src="/assets/jquery.jcarousel.min.js"></script>

  <script type="text/javascript" src="/assets/jcarousel.transitions.js"></script>

</head>
<body>

<div class="wrapper">

  <div class="jcarousel-wrapper">
    <div class="jcarousel">
      <ul>

        <li><img src="/assets/img1.jpg" width="500" height="250"></li>
        <li><img src="/assets/img2.jpg" width="500" height="250"></li>
        <li><img src="/assets/img3.jpg" width="500" height="250"></li>
        <li><img src="/assets/img4.jpg" width="500" height="250"></li>
        <li><img src="/assets/img5.jpg" width="500" height="250"></li>
      </ul>
    </div>

    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
    <a href="#" class="jcarousel-control-next">&rsaquo;</a>
  </div>

  <p>If you use this example on your site and don't have Modernizr already included, you can use this minimal <a href="http://modernizr.com/download/#-csstransforms-csstransforms3d-csstransitions-teststyles-testprop-testallprops-prefixes-domprefixes">build</a>.
</div>

</body>
</html>
