@font-face {
	font-family: Arvo;
	src:url(http://themes.googleusercontent.com/static/fonts/arvo/v5/DOHAK8DimZJeSQQDpH-4yw.eot);
}
@font-face {
	font-family: Lato;
	src:url(http://themes.googleusercontent.com/static/fonts/lato/v6/nQhiC-wSiJx0pvEuJl8d8A.eot);
}
